{% extends "base.html" %}


{% block body %}
{% block content %}
{% if session.logged_in %}
<h1>Welcome, {{session.username}}!</h1>
{% endif %}

<div>
    <section> 
        <!-- iterate here ? -->
        {% for entry in message %}
                <figure>
                    <figcaption>{{entry.title}}</figcaption>
                </figure>                
                <figure>
                    <figcaption>{{entry.body}}</figcaption>
                </figure>
            </a>
        {% endfor %}
    </section>
</div>

    
{% endblock %}
{% endblock %}